.main-wrapper-property {
  position: relative;
  border-radius: 16px;
  border: 1px solid #dfe1e5;
  margin-top: 24px;
}

.main-wrapper-property {
  border-radius: 16px;
}

.header-property,
.header-property-closed {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 18px;
  border-bottom: 1px solid #dfe1e5;
}

.header-property-closed {
  border-bottom: none;
}

.body {
  padding: 16px;
}

.add-value {
  width: auto;
  padding: 14px 20px;
  border-radius: 384px;
  background-color: var(--violet-600);
  color: var(--white);
}

.value {
  width: auto;
  padding: 14px 20px;
  border-radius: 384px;
  background-color: var(--white);
  border: 1px solid #dfe1e5;
}

.six-dots {
  position: absolute;
  left: -22px;
  top: 10%;
}