.property-value-container {
  .title-container {
    display: flex;
    align-items: center;

    .head-title {
      margin-left: 24px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .input-container {
      width: 100%;
    }

    .button {
      margin-left: 12px;
      min-width: 120px;
    }
  }
}