@import "../../../app/styles/colors.scss";
.left-side-bar-container {
  width: auto;
  height: 100vh;
}

.empty-category-container,
.add-category-container {
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 17px;
  background-color: transparent;
  gap: 7.5px;
  border-radius: 12px;

  &:hover {
    background-color: $violet-50;
  }
}

.add-category-container {
  gap: 14px;
}