.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 40px;
}

.ogogo-img {
  width: 180px;
  height: 48px;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  a {
    text-decoration: none;
  }

  .header-profile {
    background: var(--gray-150);
    padding: 4px 12px;
    border-radius: 8px;

    .profile-name {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 3px;
    }

    .profile-number {
      font-weight: 500;
      font-size: 14px;
    }
  }
}