@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
